.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.player-wrapper {
  pointer-events: none !important;
  width:514px;
  height: 289px;
}

#progressbar {
  width:514px;
}

#idinputbox {
  width:430px;
}

#urlConfirmBtn {
  width:70px;
  margin:1px
}

#toolBtn-group {
  top: 0px;
  left: 0px;
  height: 40px;
}
#toolBtn-group>button {
  margin-right: 5px;
}

#dataLoader {
  display: none;
}