.column {
  float: left;
}

.column-l {
  margin-right: 10px;
}

.column-r {
  margin-left: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#toolBtn-group {
  top: 0px;
  left: 0px;
  height: 30px;
}

#toolBtn-group>button {
  margin: 0 3px;
}

#dataLoader {
  display: none;
}

.pagination>* {
  margin: 0 2px;
}